/* You can add global styles to this file, and also import other style files */
:root{
    --main-color:#2c3e50;
    --second-color:#1AbC9C;
}

.bg-main{
    background-color: var(--main-color) !important;
}

.bg-second{
    background-color: var(--second-color) !important;
}

.text-main{
    color: var(--main-color) !important;
}

.text-second{
    color: var(--second-color) !important;
}

body{
    padding-top: 100px;
}

body:has(nav .py-3){
    padding-top: 118px;
}